<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>clarke</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body class="fondo">
    <header class="encabezado">
        <a href="./home" class="volver">volver al home</a>    
    </header>
    <main>
        
        <h1>Joan Elisabeth Lowther Clarke</h1>
        <div>
        <img src="/img/clarke.webp" alt="">
        <h3>Descifrando códigos en Bletchley Park</h3>
        <p>En junio de 1940, Clarke fue reclutada por su antiguo supervisor académico, Gordon Welchman, para la GC&CS.Trabajó en Bletchley Park en la sección conocida como Hut 8 y rápidamente se convirtió en la única mujer practicante de 'banburismus', un proceso criptoanalítico desarrollado por Alan Turing que redujo la necesidad de bombes (dispositivos electromecánicos como los utilizados por los criptólogos británicos Welchman y Turing para descifrar mensajes encriptados alemanes durante la Segunda Guerra Mundial). La primera promoción de trabajo de Clarke fue al grado de lingüista, que fue diseñado para ganar dinero extra a pesar del hecho de que no hablaba otro idioma. Esta promoción fue un reconocimiento a su carga de trabajo y a sus contribuciones al equipo.

            En 1941, se capturaron embarcaciones junto a sus equipos de cifrado y códigos. Antes de que se obtuviera esta información, las rudeltaktik habían hundido 282.000 toneladas de barcos al mes de marzo a junio de 1941. En noviembre, Clarke y su equipo lograron reducir este número a 62.000 toneladas.Hugh Alexander, jefe del Hut 8 de 1943 a 1944, la describió como "una de las mejores banburistas de la sección".El propio Alexander era considerado como el mejor de los banburistas. Él y I.J. Good consideraron el proceso más como un juego intelectual que como un trabajo. No fue "lo suficientemente fácil como para ser trivial, pero no lo suficientemente difícil como para causar un colapso nervioso".Clarke se convirtió en subdirectora del Hut 8 en 1944,aunque se le impidió progresar debido a su género, y se le pagaba menos que a los hombres</p>
        <br><br>
    </div>
    
    </main>
<footer>

</footer>

</body>
</html>