<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hopper</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body class="fondo">
    <header class="encabezado">
        <a href="./home" class="volver">volver al home</a>    
    </header>
    <main>
        
        <h1>Grace Murray Hopper</h1>
        <div>
        <img src="/img/hopper.webp" alt="">
        <h3>UNIVAC</h3>
        <p>En 1949, Hopper se convirtió en empleada de Eckert–Mauchly Computer Corporation como matemática senior y se unió al equipo desarrollador del UNIVAC I. Hopper también fue directora de desarrollo de programación automática para Remington Rand. El UNIVAC I fue conococido como el primer gran ordenador lanzado al mercado en 1950, siendo más competitivo procesando información que el Mark I.

            Cuando Hopper recomendó el desarrollo de un nuevo lenguaje de programación que usase solamente palabras en inglés, le dijeron que "no se podía hacer porque los ordenadores no entendían inglés", pero ella insistió en que "es mucho más sencillo para la mayoría de las personas escribir en inglés que usar símbolos, así que he decidido que los procesadores de datos tienen que ser capaces de escribir sus programas en inglés, y los ordenadores tendrán que traducirlo al lenguaje máquina".
            <br><br>
            Esta idea fue rechazada durante 3 años. Durante ese tiempo, en 1952, escribió un documento sobre los compiladores y desarrolló su propio compilador, el compilador A, conocido en su primera versión como A-0.
            <br><br>
            En 1952, tuvo un enlazador - cargador operacional, el cual también era un compilador, del que más tarde dijo que "nadie lo creía, tenía un compilador funcionando y nadie podría tocarlo. Ellos me dijeron que los ordenadores sólo podían hacer cálculos aritméticos, y mi compilador traduce notación matemática en lenguaje máquina. Para los matemáticos, usar símbolos es fácil, pero no era buena idea para los procesadores de datos ya que no entienden esos símbolos, además de que pocas personas entienden los símbolos y es mucho más sencillo que escriban en inglés. Así que decidí que estos procesadores de datos debían ser capaces de escribir los programas en inglés y los ordenadores tendrían que traducirlo al lenguaje máquina". Este fue el inicio de COBOL, un lenguaje de computación para los procesadores de datos, lenguaje que es, actualmente, el más usado para procesar datos.</p>
            <br><br><br>
            <h3>Cobol</h3>
            <p>Tras su experiencia con FLOW-MATIC, Hopper pensó que podía crearse un lenguaje de programación que usara órdenes en inglés y que sirviera para aplicaciones de negocios. Con esta idea, las bases para COBOL habían sido establecidas, y dos años después se creó el comité que diseñó este lenguaje. Aunque Hopper no tuvo un papel preponderante en el desarrollo del lenguaje, fue miembro del comité original para crearlo, y el FLOW-MATIC fue una influencia tan importante en el diseño de COBOL, que Hopper ha pasado a la historia de la informática como su creadora. COBOL fue el primer lenguaje que ofreció una auténtica interfaz a los recursos disponibles en el ordenador, de forma que el programador no tenía que conocer los detalles específicos. Además, los programas desarrollados para una plataforma concreta podían ser ejecutados en un ordenador diferente a aquel en el cual se habían programado sin necesidad de hacer cambios.
            <br><br>
            Al final de su carrera profesional participó en los comités de estandarización de los lenguajes de programación COBOL y FORTRAN.</p>
    </div>
    
    </main>
<footer>

</footer>

</body>
</html>