<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lovelace</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body class="fondo">
    <header class="encabezado">
        <a href="./home" class="volver">volver al home</a>    
    </header>
    <main>
        
        <h1>Augusta Ada King</h1>
        <h2>condesa de Lovelace</h2>
        <div>
        <img src="/img/lovelace.webp" alt="">
        <h3>Contribución a la Informática</h3>
        <p>En 1840 Charles Babbage viajó a Italia para explicar el concepto de la Máquina Analítica en la Universidad de Turín. Entre la audiencia se encontraba el ingeniero militar y matemático Luigi Menabrea, quien publicará más tarde las notas de la conferencia, en francés. A Ada se le pidió que hiciera la traducción de lo escrito por Menabrea al inglés, y al hacerlo, añadió un apéndice más extenso que fue un artículo en sí mismo, consistiendo en siete notas etiquetadas alfabéticamente de la A a la G. Las notas de Ada se publicaron en la revista Scientific Memoir en septiembre de 1843, con el título de «Sketch of the analytical engine invented by Charles Babbage»,14​ que firmó con sus iniciales A. A. L.
            <br><br>
            Este algoritmo para calcular los números de Bernoulli, una serie de fracciones con diferentes aplicaciones en matemáticas, se ha considerado por muchos como el primer programa/algoritmo de la historia. Consecuentemente, muchos perfiles de la figura de Ada Lovelace lo celebran como la primera persona programadora de la historia. Sin embargo, se ha mantenido durante años la controversia sobre el grado de participación de Babbage en la confección de las notas de Lovelace. Es una controversia complicada debido al hecho de que se ha tomado, en los últimos años, la contribución de Ada como "una cuestión de género"16​ y a la atención creciente de la promoción de las mujeres en Ciencia, Tecnología, Ingeniería y Matemáticas (STEM).16​

Actualmente está probado que fue Babbage la primera persona que hizo lo que se entiende como un programa, ya que escribió algoritmos parecidos entre 6 y 7 años antes de la publicación del artículo de Lovelace en 1843. Existen 24 de tales 'programas' y tienen características idénticas a los de la nota G de Lovelace. La idea general de que ella escribió el primer programa de ordenador de la Historia es sólo un mito 16​ tratándose en realidad de un trabajo en equipo con Babbage.17​

En cambio, la aportación de Ada a la Informática fue incluso aún más importante: con una visión más amplia que la de Babbage, dedujo y previó la capacidad de las máquinas para ir más allá de los simples cálculos de números. Ada vio las aplicaciones prácticas de la máquina, y creyó acertadamente que en el futuro podría incluso componer música y hacer gráficos
<br><br>
Fue la primera persona en darse cuenta de que los números almacenados dentro de la Máquina Analítica podían representar otras cosas más allá de la magnitud de dichos números, es decir, el carácter simbólico de la representación numérica interna de la máquina. También aportó una primera idea de lo que sería el software
<br><br>
Actualmente se podría decir que Ada Lovelace fue la primera ingeniera del software,18​ algo más importante que ser programadora, pues ella estudió, desarrolló y creó la documentación sobre un determinado sistema de procesamiento automático.

Desde un punto de vista moderno, como se entiende lo que significa ser un programador (el que usa un lenguaje intermedio para comunicarle a un ordenador que interprete y ejecute una serie de órdenes), el primero fue Alan Turing, al desarrollar su Máquina de Turing. Además, existen grandes diferencias entre el desarrollo de Babbage/Lovelace con el de Turing: mientras que la Máquina Analítica era una máquina de propósito específico (el motor diferencial), la de Turing era programable de uso general.18​

Babbage y Ada desarrollaron la gran idea de separar operaciones y datos de la maquinaria, y que las operaciones se pudieran codificar en tarjetas que dirigieran el comportamiento de la maquinaria. Pero no fueron más allá. La propuesta de Turing es la de una máquina universal (es decir, una máquina que garantice la ejecución de cualquier función que pueda ser descrita en términos de la propia máquina), y una representación uniforme de los datos y de las operaciones, almacenados ambos en la propia máquina
        </p>
        <h3></h3>
        <p></p>
    </div>
    
    </main>
<footer>

</footer>

</body>
</html>