<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>turing</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body class="fondo">
    <header class="encabezado">
        <a href="./home" class="volver">volver al home</a>    
    </header>
    <main>
        
        <h1>Alan Mathison Turing</h1>
        <div>
        <img src="/img/turing.webp" alt="">
        <h3>La Universidad y sus estudios sobre computabilidad</h3>
        <p>Debido a su falta de voluntad para esforzarse con la misma intensidad en el estudio de los clásicos que en el de la ciencia y la matemática, Turing suspendió sus exámenes finales varias veces y tuvo que ingresar en la escuela universitaria que eligió en segundo lugar, King's College, Universidad de Cambridge, en vez de en la que era su primera elección, Trinity. Tras su graduación, se trasladó a la Universidad estadounidense de Princeton, donde trabajó con el lógico Alonzo Church. Recibió las enseñanzas de Godfrey Harold Hardy, un respetado matemático que ocupó la cátedra Sadleirian en Cambridge, y que posteriormente, fue responsable de un centro de estudios e investigaciones matemáticas entre 1931 y 1934. En 1935 Turing fue nombrado profesor del King's College.</p>
        <br><br><br>
        <h3>La máquina de Turing</h3>
        <p>En su estudio Los números computables, con una aplicación al Entscheidungsproblem (publicado el 28 de mayo de 1936), Turing reformuló los resultados obtenidos por Kurt Gödel en 1931 sobre los límites de la demostrabilidad y la computación, sustituyendo al lenguaje formal universal descrito por Gödel por lo que hoy se conoce como máquina de Turing, unos dispositivos formales y simples.20​
<br><br>
            Turing demostró que dicha máquina era capaz de resolver cualquier problema matemático que pudiera representarse mediante un algoritmo. Las máquinas de Turing siguen siendo el objeto central de estudio en la teoría de la computación. Llegó a probar que no había ninguna solución para el problema de decisión, Entscheidungsproblem, demostrando primero que el problema de la parada para las máquinas de Turing es irresoluble: no es posible decidir algorítmicamente si una máquina de Turing dada llegará a pararse o no. Aunque su demostración se publicó después de la demostración equivalente de Alonzo Church respecto a su cálculo lambda, el estudio de Turing es mucho más accesible e intuitivo.21​ También fue pionero con su concepto de «máquina universal (de Turing)», con la tesis de que dicha máquina podría realizar las mismas tareas que cualquier otro tipo de máquina. Su estudio también introduce el concepto de números definibles</p>
            <br><br><br>
            <h3>Máquinas oracle</h3>
            <p>La mayor parte de 1937 y 1938 la pasó en la Universidad de Princeton, estudiando bajo la dirección de Alonzo Church. Entre 1938 y 1939 volvió a Inglaterra y estudió filosofía de las matemáticas. En 1938 obtuvo el Doctorado en Princeton; en su discurso introdujo el concepto de hipercomputación, en el que ampliaba las máquinas de Turing con las llamadas máquinas oracle, las cuales permitían el estudio de los problemas para los que no existe una solución algorítmica.22​
<br><br>
                Tras su regreso a Cambridge en 1939, asistió a las conferencias de Ludwig Wittgenstein sobre las bases de las matemáticas. Ambos discutieron y mantuvieron un vehemente desencuentro, ya que Turing defendía el formalismo matemático y Wittgenstein criticaba que la matemática estaba sobrevalorada y no descubría ninguna verdad absoluta</p>
                <br><br><br>
                <h3>Análisis criptográfico (desciframiento de códigos)</h3>
                <p>Un día después de la declaración de guerra de Gran Bretaña, en septiembre de 1939, Turing fue convocado a Bletchley Park, donde se encontraba la Escuela Gubernamental de Código y Cifrado (GC&CS). Las nueve mil personas que trabajaban allí se dedicaron a intentar interpretar las comunicaciones alemanas cifradas en código morse.
<br><br>
                    El cifrado lo hacían a través de una máquina de sistema rotatorio llamada Enigma (máquina). Enigma había sido inventada en 1918 por Arthur Scherbius. Era similar a una máquina de escribir, en la cual cada vez que una letra era pulsada, era sustituida por otra mediante el uso de tres rotores internos (las máquinas militares llegaron a usar cinco), cuyo resultado era más de diez mil billones de configuraciones distintas. Debido al carácter portátil de la máquina, los operadores podían estar ubicados en los puestos de mando, interior de los tanques, submarinos, en bombardeos, etc. Independientemente de su locación, los operadores, llevaban las instrucciones de cómo debían colocarse los rotores, y las posiciones cambiaban cada pocos días.24​
                    <br><br>
                    El equipo liderado por Turing, a través de ecuaciones y cálculos, encontraron pautas en los mensajes con lo que pudieron detectar una pequeña parte de su funcionamiento. Sin embargo, todavía no podían descifrarlos. Fue entonces, cuando Turing se preguntó:
                    <br><br>
                    ¿Y si para luchar contra una máquina como Enigma hiciese falta otra máquina?25​
                    <br><br>
                    A raíz de esta pregunta, Turing pudo poner en práctica sus teorías: diseñó la máquina Bombe. Bombe buscaba la configuración de los rotores de la máquina alemana, implementando una cadena de deducciones lógicas para cada combinación posible. Gracias a las mejoras del matemático, Gordon Welchman, el 14 de marzo de 1940, el primer prototipo estaba terminado. Al cabo de un tiempo disponían con más de doscientas Bombes.26​
                    <br><br>
                    Los trabajos de la GC&CS, dirigidos por Turing, fueron determinantes para acortar la guerra. Algunos historiadores afirman que su trabajo acortó dos años la duración de la guerra, salvando alrededor de catorce millones de vidas.27​ Al finalizar la guerra, las máquinas Bombe se desmantelaron y todo el trabajo permaneció en secreto hasta los setenta. En 1974 el capitán W. F. Winterbotham escribió el libro The Ultra Secret.</p>
                <br><br><br>
                <h3>Estudios sobre las primeras computadoras</h3>
                <p>De 1945 a 1948 Turing vivió en Richmond, Londres, donde trabajó en el Laboratorio Nacional de Física (NPL). En 1947 empezó a trabajar en el diseño del ACE (Automatic Computer Engine o Motor de Computación Automática). Paralelamente, existía un proyecto similar en Estados Unidos llamado EDVAC de Von Neumann. El ACE de Turing se diferenciaba en que incluía la implementación de funciones aritméticas en circuitos electrónicos. Su deseo era crear una máquina que pudiera ser configurada para hacer cálculos algebraicos, desencriptar códigos, manipular archivos y jugar al ajedrez. Aunque diseñar el ACE era factible, el secretismo que reinaba durante la guerra desembocó en retrasos para iniciar el proyecto por lo que Turing se sintió desilusionado.
<br><br>
                    Tiempo más tarde creó el Abbreviated Code Instruction, que dio origen a los lenguajes de programación. En 1947 se tomó un año sabático en Cambridge, tiempo durante el cual escribió un trabajo pionero sobre la inteligencia artificial que no fue publicado en vida. En 1948, con la ayuda de Frederic Calland Williams, se dio, por primera vez, la demostración del principio de la máquina de Turing.
                    <br><br>
                    Mientras se encontraba en Cambridge y a pesar de su ausencia, se siguió construyendo el prototipo piloto del ACE, que ejecutó su primer programa en mayo de 1950. Aunque la versión completa del ACE de Turing jamás fue construida, el diseño de otras computadoras en todo el mundo le debió mucho a su concepción.29​
                    <br><br>
                    A mediados de 1948 fue nombrado director delegado del laboratorio de computación de la Universidad de Mánchester y trabajó en el software de una de las primeras computadoras reales, la Manchester Mark I. Durante esta etapa también realizó estudios más abstractos y en su artículo de octubre de 1950 «Computing machinery and intelligence» Turing trató el problema de la inteligencia artificial y propuso un experimento que hoy se conoce como test de Turing, con la intención de definir una prueba estándar por la que una máquina podría catalogarse como «sensible» o «sintiente». En el documento, Turing sugirió que en lugar de construir un programa para simular la mente adulta, sería mejor producir uno más simple para simular la mente de un niño y luego someterlo a educación. Una forma invertida de la prueba de Turing se usa ampliamente en Internet, el test CAPTCHA que está diseñado para determinar si un usuario es un humano y no una computadora</p>
                <br><br><br>
                <h3>Prueba de Turing</h3>
                <p>La prueba de Turing es un método para determinar si una máquina puede pensar.
<br><br>
                    Nace de un juego de imitación, en donde hay tres personas: un interrogador, un hombre y una mujer. El interrogador está separado de los otros dos, y solo puede comunicarse con ellos a través de un lenguaje que entiendan. El objetivo del interrogador es descubrir quién es la mujer, y quién es el hombre, mientras que el de los otros dos, es convencerlo que son la mujer. En su artículo de 1950, «Computing machinery and intelligence», Turing sustituye a uno de los interrogados por una computadora y cambia los objetivos del juego: reconocer a la máquina.
                    <br><br>
                    «Una computadora puede ser llamada inteligente si logra engañar a una persona haciéndole creer que es un humano» - Alan Turing.30​
                    <br><br>
                    La forma de hacer pasar la prueba a una máquina consiste básicamente en una persona hablando con una computadora en otra habitación mediante un sistema de chat. Si la persona es incapaz de determinar si habla con un humano o con una computadora, entonces la computadora se considera inteligente.
                    <br><br>
                    En el año 2014, por primera vez, el chatbot de Eugene Gootsman, logró convencer a treinta jueces que estaban participando en la prueba de que estaban chateando con un niño ucraniano de trece años.</p>
                <br><br><br>
                <h3>Primer programa de ajedrez por computadora</h3>
                <p>Entre 1948 y 1950 en conjunto con un antiguo compañero, D. G. Champernowne, empezó a escribir un programa de ajedrez para un ordenador que aún no existía. En 1952 trató de implementarlo en el Ferranti Mark 1, pero por falta de potencia, el ordenador no fue capaz de ejecutar el programa. En su lugar Turing jugó una partida en la que reprodujo manualmente los cálculos que hubiera hecho el ordenador, costando alrededor de hora y media en efectuar un movimiento. Una de las partidas llegó a registrarse, y el programa perdió frente a un colega de Turing, Alick Glennie. Su test fue significativo, característicamente provocativo y una gran contribución para empezar el debate alrededor de la inteligencia artificial que aún hoy continúa.</p>
                <br><br><br>
                <h3>Estudios sobre cibernética</h3>
                <p>Trabajó junto a Norbert Wiener en el desarrollo de la cibernética. Esta rama de estudios se genera a partir de la demanda de sistemas de control que exige el progresivo desarrollo de las técnicas de producción a partir del siglo XX. La cibernética pretende establecer un sistema de comunicación entre el hombre y la máquina como premisa fundamental para administrar los sistemas de control. Sus estudios profundizaron en esta relación estableciendo el concepto de interfaz y cuestionando los límites de simulación del razonamiento humano.</p>
    </div>
    
    </main>
<footer>

</footer>

</body>
</html>

<h3></h3>
            <p></p>